 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>AWARD</p>
                    <P>my award ~~ </P>
                </div>
                <div class="col-lg-4">
                    <p>CERTIFICATE</p>
                    <p>my certificate ~~ </p>
                </div>
                <div clas="col-lg-4">
                  <p>OTHER</p>
                  <p>other ~~ </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
